{% include base_path %}
<li class="pub-item {{ post.year }}">
  <article class="archive__item">
    <h3 class="archive__item-title">
      {% if post.external_url %}
        <a href="{{ post.external_url }}">{{ post.title }}</a>
      {% else %}
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% endif %}
    </h3>
    {% if post.authors %}
      <p>{{ post.authors }}</p>
    {% endif %}
    {% if post.journal %}
      <p><em>{{ post.journal }}</em></p>
    {% endif %}
  </article>
</li>
